.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh 50px;
}

.cabecalho {
    align-items: center;
    display: flex;
    /*background: #00cc99;*/
    grid-area: cabecalho;
    padding: 0 2rem;
}
 
.conteudo {
    /*background: #ff8080;*/
    grid-area: conteudo;
}

.rodape {
    /*background: #0099ff;*/
    grid-area: rodape;
}